form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
}

input[type="text"],
input[type="password"],
input[type="number"]{
    width: 80%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
    outline: none;
    transition: all 500ms;
    color: #999;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus{

    border-bottom: 1px solid #c418ff;
     box-shadow: 0 1px 0 0 #c418ff; 
    color: black;

}

input::placeholder {
    color: #bbb;
    transition: color 400ms;
}

input:focus::placeholder {
    color: transparent;
}

.btn,
input[type="submit"]{
    border: none;
    padding: 10px;
}

.btn:hover,
input[type="submit"]:hover{
    cursor: pointer;
}

.btn-login{
    background-color: #c418ff;
    color: white;
    transition: all 300ms;
}

.btn-login:hover{
    background-color: #a017cf
}